<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ShopingMart</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="user-assetsimgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="user-assets/css/maind134.css?v=3.4" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
  </head>

  <body>
    <header class="header-area header-style-1 header-height-2">
      <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4">
              <div class="header-info">
                <ul>
                  <li>
                    <i class="fi-rs-smartphone"></i>
                    <a href="#">(+01) - 2345 - 6789</a>
                  </li>
                  <li>
                    <i class="fi-rs-marker"></i
                    ><a href="/contact">Our location</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-4">
              <div class="text-center">
                <div id="news-flash" class="d-inline-block">
                  <ul>
                    <li>
                      Get great devices up to 50% off
                      <a href="/products">View details</a>
                    </li>
                    <li>Supper Value Deals - Save more with coupons</li>
                    <li>
                      Iphone 15, save up 35% off today
                      <a href="/products">Shop now</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4">
              <div class="header-info header-info-right">
                <ul>
                  <%if(isLogin == "true"){%>

                  <li>
                    <i class="fi-rs-user"></i>
                    <a href="/logout">Logout</a>
                  </li>
                  <li>
                    <i class="fi-rs-user"></i>
                    <a href="/profile">User </a>
                  </li>
                  <%}else{%>
                  <li>
                    <i class="fi-rs-user"></i>
                    <a href="/register">Sign Up</a>
                  </li>
                  <li>
                    <i class="fi-rs-user"></i>
                    <a href="/signin">Log In </a>
                  </li>

                  <%}%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
          <div class="header-wrap">
            <div class="logo logo-width-1">
              <a href="/"><h2 style="color: #6f11eb">ShopingMart</h2></a>
            </div>
            <div class="header-right">
              <div class="search-style-2">
                <form action="/search">
                  <input
                    type="text"
                    placeholder="Search for items..."
                    name="product_search"
                  />
                </form>
              </div>
              <div class="header-action-right">
                <div class="header-action-2">
                  <div class="header-action-icon-2">
                    <a href="/wishlist">
                      <img
                        class="svgInject"
                        alt="wishlist"
                        src="user-assets/imgs/theme/icons/icon-heart.svg"
                      />
                      <!-- <span class="pro-count blue"></span> -->
                    </a>
                  </div>
                  <!-- cart -->
                  <div class="header-action-icon-2">
                    <a class="mini-cart-icon" href="/cart">
                      <img
                        alt="cart"
                        src="user-assets/imgs/theme/icons/icon-cart.svg"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
          <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
              <a href="/"><h4 style="color: #9f3fee">ShopingMart</h4></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
              <div class="main-categori-wrap d-none d-lg-block">
                <a class="categori-button-active" href="#">
                  <span class="fi-rs-apps"></span> Browse Categories
                </a>
                <div
                  class="categori-dropdown-wrap categori-dropdown-active-large"
                >
                  <ul>
                    <li>
                      <a href="/products"
                        ><i class="evara-font-desktop"></i>All Categories</a
                      >
                    </li>
                    <li>
                      <a href="/search?category=Android"
                        ><i class="evara-font-cpu"></i>Android</a
                      >
                    </li>
                    <li>
                      <a href="/search?category=iOS"
                        ><i class="evara-font-desktop"></i>iOS</a
                      >
                    </li>
                    <li>
                      <a href="/search?category=Windows"
                        ><i class="evara-font-home"></i>Windows Phone</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block"
              >
                <nav>
                  <ul>
                    <li>
                      <a class="active" href="/">Home</a>
                    </li>
                    <li>
                      <a href="/products">Shop</a>
                    </li>
                    <li>
                      <a href="/contact">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <a href="/wallet"><svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H80c-8.8 0-16-7.2-16-16s7.2-16 16-16H448c17.7 0 32-14.3 32-32s-14.3-32-32-32H64zM416 272a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></a>
            <div class="header-action-right d-block d-lg-none">
              <div class="header-action-2">
                <div class="header-action-icon-2">
                  <a href="/wishlist">
                    <img
                    alt="wishlist"
                    src="user-assets/imgs/theme/icons/icon-heart.svg"
                    />
                 </a>
                </div>
                <div class="header-action-icon-2">
                  <a class="mini-cart-icon" href="/cart">
                    <img
                      alt="cart-icon"
                      src="user-assets/imgs/theme/icons/icon-cart.svg"
                    />
                  </a>
                </div>
                <div class="header-action-icon-2 d-block d-lg-none">
                  <div class="burger-icon burger-icon-white">
                    <span class="burger-icon-top"></span>
                    <span class="burger-icon-mid"></span>
                    <span class="burger-icon-bottom"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
          <div class="mobile-header-logo">
            <a href="/"><h4 style="color: #9f3fee">ShopingMart</h4></a>
          </div>
          <div
            class="mobile-menu-close close-style-wrap close-style-position-inherit"
          >
            <button class="close-style search-close">
              <i class="icon-top"></i>
              <i class="icon-bottom"></i>
            </button>
          </div>
        </div>
        <div class="mobile-header-content-area">
          <div class="mobile-search search-style-3 mobile-header-border">
            <form action="/search">
              <input type="text" placeholder="Search for items…" />
              <button type="submit"><i class="fi-rs-search"></i></button>
            </form>
          </div>
          <div class="mobile-menu-wrap mobile-header-border">
            <div class="main-categori-wrap mobile-header-border">
              <a class="categori-button-active-2" href="#">
                <span class="fi-rs-apps"></span> Browse Categories
              </a>
              <div
                class="categori-dropdown-wrap categori-dropdown-active-small"
              >
                <ul>
                  <li>
                    <a href="/products"
                      ><i class="evara-font-desktop"></i>All Categories</a
                    >
                  </li>
                  <li>
                    <a href="/search?category=Android"
                      ><i class="evara-font-smartphon"></i>Android</a
                    >
                  </li>
                  <li>
                    <a href="/search?category=iOS"
                      ><i class="evara-font-smartphone"></i> iOS</a
                    >
                  </li>
                  <li>
                    <a href="/search?category=Windows"
                      ><i class="evara-font-desktop"></i>Windows Phone</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- mobile menu start -->
            <nav>
              <ul class="mobile-menu">
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="/">Home</a>
                </li>
                <li class="menu-item-has-children">
                  <span class="menu-expand"></span><a href="/products">shop</a>
                </li>
              </ul>
            </nav>
            <!-- mobile menu end -->
          </div>
          <div class="mobile-header-info-wrap mobile-header-border">
            <div class="single-mobile-header-info mt-30">
              <a href=""> Our location </a>
            </div>
            <div class="single-mobile-header-info">
              <%if(isLogin == "true"){%>
                <a href="/logout">Logout</a>
                <a href="/profile">Profile</a>
                <%} else {%>
                  <a href="/signin">Log In </a>
                  <a href="/register"> Sign Up </a>
              <%}%>
            </div>
            <div class="single-mobile-header-info">
              <a href="#">(+01) - 2345 - 6789 </a>
            </div>
          </div>
          <div class="mobile-social-icon">
            <h5 class="mb-15 text-grey-4">Follow Us</h5>
            <a href="#"
              ><img src="user-assets/imgs/theme/icons/icon-facebook.svg" alt=""
            /></a>
            <a href="#"
              ><img src="user-assets/imgs/theme/icons/icon-twitter.svg" alt=""
            /></a>
            <a href="#"
              ><img
                src="user-assets/imgs/theme/icons/icon-instagram.svg"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="user-assets/imgs/theme/icons/icon-pinterest.svg"
                alt=""
            /></a>
            <a href="#"
              ><img src="user-assets/imgs/theme/icons/icon-youtube.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>