<%- include('../partials/user-header')%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container mt-5">
    <div class="row justify-content-center m-5">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Change Password</h3>
                    <form id="passwordChangeForm">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter your new password">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary toggle-password" data-target="newPassword">
                                        👁
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary toggle-password" data-target="confirmPassword">
                                        👁
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" data-email="<%=userEmail%>" class="user-email">
</div>

<!-- CDN Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function() {
        $(".toggle-password").click(function() {
            const targetId = $(this).data("target");
            const input = $("#" + targetId);
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $("#passwordChangeForm").submit(function(event) {
            event.preventDefault()
            const newPassword = $("#newPassword").val();
            const confirmPassword = $("#confirmPassword").val();

            const currUser = $(".user-email").data('email');
            
            if(newPassword.trim()===""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Enter New Password!',
                })
                return
            }
            
            if(confirmPassword.trim()===""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Confirm New CPassword!',
                })
                return
            }

            if (newPassword !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'New password and confirm password must match.',
                })
                return
            }
            fetch(`/changePassword`, {
                method : 'POST',
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify({ email : currUser, password : confirmPassword })
            }).then((response)=>{
                if(response.ok){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Password Updated',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(()=>{
                        window.location.href="/profile"
                    })
                    return response.json()
                } else { 
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Password Updation Failed',
                    })
                }
            }).catch((err)=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Error while updating Password, Try after sometime!',
                })
            })
        });
    });
</script>

<%- include('../partials/user-footer')%>
