<%- include('../partials/user-header')%>

<div class="container m-5">
    <div class="row justify-content-center m-5">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Password Reset</h3>
                    <form method="post" action="/forgetPassword">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Registered email ID" required\>
                        </div>
                        <a class="btn btn-block send-otp">SEND OTP</a>
                        <div class="form-group ">
                            <label for="phoneNumber">O T P</label>
                            <input type="number" class="form-control" id="otp" placeholder="Enter OTP"\>
                        </div>
                        <button type="submit" class="btn  btn-block verify-otp">Verify OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const email = document.getElementById('email');
    const otp = document.getElementById('otp');

    function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    function isValidOTP(otp) {
        const otpRegex = /^[0-9]{6}$/;
        return otpRegex.test(otp);
    }

    async function sendOTP() {
        try {
            if (!isValidEmail(email.value)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Enter a valid email ID!'
                })
                return;
            }

            const response = await fetch(`/forgetPassword/sendOtp?email=${email.value}`);
            if (response.ok) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'OTP has been sent to Registered Phone Number.',
                    showConfirmButton: false,
                    timer: 1500
                })
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'No user found on this Email Try again with registered Email ID.',
                    text: 'Something went wrong!',
                    footer: '<a href="">Why do I have this issue?</a>'
                })
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                    icon: 'error',
                    title: 'An error occurred. Please try again.',
                    text: 'Something went wrong!',
                    footer: '<a href="">Why do I have this issue?</a>'
                })
        }
    }

    async function verifyOTP() {
        try {
            if (!isValidEmail(email.value)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops.',
                    text: 'Enter a valid Email!',
                    footer: '<a href="">Why do I have this issue?</a>'
                })
                return;
            }
            if (!isValidOTP(otp.value)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Enter a valid OTP',
                    text: 'Something went wrong!',
                })
                return;
            }

            const response = await fetch(`/forgetPassword/verifyOtp?email=${email.value}&otp=${otp.value}`);
            if (response.ok) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'OTP Verified successful!',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.href=`/changePassword?email=${email.value}`
                }).catch((err) => {
                    console.error(err)
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Incorrect OTP',
                    text: 'Something went wrong!',
                })
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                    icon: 'error',
                    title: 'An error occurred. Please try again.',
                    text: 'Something went wrong!',
                })
        }
    }

    document.querySelector('.send-otp').addEventListener('click', (e) => {
        e.preventDefault();
        sendOTP();
    });

    document.querySelector('.verify-otp').addEventListener('click', (e) => {
        e.preventDefault();
        verifyOTP();
    });
});
</script>


<%- include('../partials/user-footer')%>
